.Main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    padding: 14px;
}
.Logo {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.Logo > img {
    max-width: 25px;
}

.User_block {
    display: flex;
    gap: 2px;
}

.User_block > button  {
    background: none;
    outline: none;
    border: none;
    padding: 4px 4px;
}

.User_block > button > img {
    max-width: 25px;
    background: #e8e8e8;
    padding: 4px;
    border-radius: 5px;
}