.Main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    padding: 14px 0;
}
.Logo {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.Logo > img {
    max-width: 25px;
}

.User_block {
    display: flex;
    gap: 2px;
}

.User_block > button  {
    background: none;
    outline: none;
    border: none;
    padding: 4px 4px;
}

.User_block > button > svg {
    width: 50px;
    height: 30px;
    background: #101010;
    color: white;
    padding: 4px;
    border-radius: 5px;
}