.Main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    padding: 14px;
    box-shadow: 0 0 15px rgba(0,0,0, 15);
    z-index: 99;
}
.Logo {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.Logo > img {
    max-width: 35px;
}

.User_block {
    display: flex;
    gap: 2px;
}


.User_block > button > svg {
    width: 25px;
    height: 25px;
    color: #1a1a1a;
}