.Display {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vw;
}

.Display > div {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background: #e8e8e8;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 14px;
}
.Display > div > img {
    max-width: 100%;
}

.Display > div > button {
    background: #333;
    color: white !important;
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
}