
.Block {
    background-color: #f0c850;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
}

.Block > div:first-child {
    background-color: #1a1a1a;
    padding: 16px;
}

.Block_info {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.Block_favorite {
    margin-top: 14px;
    background-color: #f0c850;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
}

.Block_favorite_projects {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    width: 100%;
}

.Button_wrapper {
    margin-top: 14px;
    border-radius: 14px;
    overflow: hidden;
}

.Block_button {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
}
.Block_button > div:first-child {
    background-color: #1a1a1a;
    padding: 16px;
}