

.MyButton {
    width: 100%;
    outline: none;
    border: 1px solid #1a1a1a;
    border-radius: 8px;
    background-color: #f9d423;
    padding: 8px;
    margin: 8px 0;
    box-shadow: 3px 3px 0px rgba(0,0,0, 0.85);
}
.MyButton > h6{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
}