@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,span,article {
  color: #1e1e1e;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

h1 { font-size: clamp(24px, 6vw, 36px) !important;}
h2 { font-size: clamp(20px, 5vw, 30px) !important;}
h3 { font-size: clamp(18px, 4.5vw, 27px) !important;}
h4 { font-size: clamp(16px, 4vw, 24px) !important;}
h5, h6, a, article { font-size: clamp(14px, .9vw, 21px) !important;}
p { font-size: clamp(14px, .8vw, 21px) !important;}

button {
  background-color: black;
  outline: none;
  padding: 6px 14px;
  border: none;
  border-radius: 4px;
}

button > a{
  text-decoration: none;
}
button article{
  color: white;
}


body {
  background: white;
}