.Footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background-color: #101010;
    padding: 14px 0;
}

.Footer > article {
    color: white;
}

.Footer > article > a {
    text-decoration: none;
    color: #64c2ff;
}